@(metas: List[Meta])(numeroMetas: Int )
 
@main("Lista de metas"){
  @if(metas.isEmpty){
    <h3>Nao ha metas cadastradas</h3>
  } else {
    <h3>Metas Cadastrados:</h3>
    <table>
      <tr>
        <th>descricao</th>
        <th>Prazo(Em numero de semanas)</th>
      </tr>
     
    @for(meta <- metas){
    	
      <tr>
        <td>@meta.getdescricao</td>
        <td>@meta.getsemana</td>
        
        
        
        <td>
		<form action="@routes.Application.deleteMeta(meta.getId())"
			method="post">
			<input type="submit" class="btn btn-danger" value="Delete">
		</form>
		
		
	</td>
      </tr>
      
      
    }
	 </table>
	 <h3>Numero de Metas para essa Semana:  @numeroMetas</h3>
	 

	}
	  
}